<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54AF6A661BD3E07D00B71BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54AF6A7F1BD3E07D00B71BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54AF6A8A1BD3E07D00B71BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
